<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('head') -%>
  </head>
  <body>
    <%- include('application/header_application') -%>
    <%- include('application/navigation_bar') -%>
    <%- include('application/first_page') -%>
    <h1><%= title %></h1>
    <p><%= description%></p>

    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/connexion">Connexion</a></li>
      <li><a href="/certifications">Certifications</a></li>
      <li><a href="/employes">Employés</a></li>
      <li><a href="/mot-de-passe-oublie">Mot de passe oublié</a></li>
    </ul>

  </body>
</html>
